<div class="well">
	<h2>Static IP Addresses and Machine Information</h2>
	<div class="table-responsive">
		<table class="table table-striped table-bordered table-hover table-responsive">
			<thead>
				<tr>
					<th class="text-center">Hostname</th>
					<th class="text-center"> IP Address</th>
					<th class="text-center">VM</th>
					<th class="text-center">OS</th>
					<th class="text-center">Description</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let address of ipAddresses">
					<td class="text-center">{{ address.hostname }}</td>
					<td class="text-center">{{ address.ipv4 }}</td>
					<td class="text-center">{{ address.VM }}</td>
					<td class="text-center">{{ address.operatingSystem }}</td>
					<td class="text-center">{{ address.description }}</td>
					<td>
						<div class="text-center">
							<button type="button" class="btn btn-primary" (click)="editAddress.open()">Edit</button>
							<button type="button" class="btn btn-danger" ng-click="deleteAddress(x.id)">Delete</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<button type="button" class="btn btn-primary" (click)="newAddress.open()">Add New Address</button>
</div>

<modal #newAddress>
	<modal-header>
		<h2>New IP Address</h2>
	</modal-header>
	<modal-content>
		<form class="form-horizontal">
			<fieldset>
				<div class="form-group">
					<label class="col-lg-3 control-label">Hostname</label>
					<div class="col-lg-9">
						<input type="text" class="form-control" data-ng-model="ipaddressData.hostname">
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-3 control-label">IP Address</label>
					<div class="col-lg-9">
						<input type="text" class="form-control" data-ng-model="ipaddressData.ipv4">
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-3 control-label">Operating System</label>
					<div class="col-lg-9">
						<input type="text" class="form-control" data-ng-model="ipaddressData.operatingSystem">
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-3 control-label">Description</label>
					<div class="col-lg-9">
						<input type="text" class="form-control" data-ng-model="ipaddressData.description">
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-offset-3 col-lg-9">
						<div class="checkbox">
							<label><input type="checkbox" data-ng-model="ipaddressData.VM"> Virtual Machine</label>
						</div>
					</div>
				</div>
			</fieldset>
		</form>
	</modal-content>
	<modal-footer>
		<button class="btn btn-primary" (click)="newAddress.close()">Save</button>
		<button class="btn btn-danger" (click)="newAddress.close()">Cancel</button>
	</modal-footer>
</modal>



<modal #editAddress>
	<modal-header>
		<h2>Edit IP Address</h2>
	</modal-header>
	<modal-content>
		<form class="form-horizontal">
			<fieldset>
				<div class="form-group">
					<label class="col-lg-3 control-label">Hostname</label>
					<div class="col-lg-9">
						<input type="text" class="form-control" placeholder="">
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-3 control-label">IP Address</label>
					<div class="col-lg-9">
						<input type="text" class="form-control" placeholder="">
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-3 control-label">Operating System</label>
					<div class="col-lg-9">
						<input type="text" class="form-control" placeholder="">
					</div>
				</div>
				<div class="form-group">
					<label class="col-lg-3 control-label">Description</label>
					<div class="col-lg-9">
						<input type="text" class="form-control" placeholder="">
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-offset-3 col-lg-9">
						<div class="checkbox">
							<label><input type="checkbox"> Virtual Machine</label>
						</div>
					</div>
				</div>
				<div>
					<input type="hidden">
				</div>
			</fieldset>
		</form>
	</modal-content>
	<modal-footer>
		<button class="btn btn-primary" (click)="editAddress.close()">Save</button>
		<button class="btn btn-danger" (click)="editAddress.close()">Cancel</button>
	</modal-footer>
</modal>